.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.719) ,
      rgba($color-primary-dark, 0.801) ),
      url("../img/hero-small.jpg");
  
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.719) ,
      rgba($color-primary-dark, 0.801) ),
      url("../img/hero.jpg");
  }    
 
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0,100% 75vh, 0 100%);
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0,100% 85vh, 0 100%);
  }
  position: relative;

  &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo{
    height: 35px;
  }

  &__text-box{
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__main {
    background-color: $color-gray-dark-2;
    display: flex;
    padding: 0 var(--side-gutter);
    align-items: center;

    button {
      margin: 0;
      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__navigation {
    margin-right: auto;
    z-index: 300;
  }

  &__link,
  &__link:active,
  &__link:visited {
    text-decoration: none;
    font-size: 2rem;
    color: $color-white;
  }

  &__link {
    display: block;
    padding: 2rem 5rem;
    transition: all .3s;
    &:hover {
      transform: scale(1.5) skewY(-2deg);
      box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: .3);
      background-color: $color-primary;
    }
  }
}